* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
    background-color: #efefef;
    padding: 0;
    margin: 0;
}
main {
    width: 970px;
    margin: 0 auto;
}
.wrapper {
    width: 100%;
    float: left;
    background-color: #fff;
    margin: 30px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 30px 20px 70px 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.header {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 60px;
}
.header>h1 {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    font-size: 34px;
}
.header>h1>span {
    padding: 10px 45px 9px 45px;
    border: solid 2px #555;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #444;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header h3 {
    color: #555;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header .avatar-mobile {
    display: none;
}
.header .avatar {
    width: 140px;
    height: 140px;
    margin: 20px auto;
    border-radius: 50%;
    -webkitborder-radius: 50%;
    padding: 9px;
    background-color: #efefef;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.header .avatar img{
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 50%;
}

.resume-tree {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 20px;
}
.resume-wrapper {
    width: 100%;
    float: left;
}
.resume-wrapper:before {
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background: #ccc;
    content: '';
}
.resume-wrapper .left {
    width: 50%;
    float: left;
    padding: 0 30px 0 40px;
    text-align: right;
}
.resume-wrapper .right {
    width: 50%;
    float: left;
    padding: 0 40px 0 30px;
}
.resume-wrapper section {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
.resume-wrapper section:last-child {
    margin-bottom: 0;
}
section>.title {
    width: 100%;
    float: left;
    text-transform: uppercase;
    color: #444;
    font-size: 20px;
    margin: 0 0 30px 0;
}
section>.content {
    width: 100%;
    float: left;
    font-size: 17px;
    color: #555;
}
.time-box {
    width: 100%;
    float: left;
    margin-bottom: 35px;
}
.time-box:last-child {
    margin-bottom: 0;
}
.time-box .time-period {
    width: 100%;
    float: right;
    font-size: 15px;
    color: #777;
    margin: 0 0 10px 0;
}
.time-box .time-title {
    width: 100%;
    float: right;
    font-size: 18px;
}
.time-box .time-subtitle {
    width: 100%;
    float: right;
    color: #333;
    font-size: 15px;
    padding: 3px 0;
}
.time-box .time-desc {
    width: 100%;
    float: right;
    color: #666;
    font-size: 17px;
}
.skill-line {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.skill-line .skill-name {
    width: 40%;
    float: left;
    display: inline;
}

.skill-line .skill-rates {
    width: 60%;
    height: 4px;
    background-color: #d5d5d5;
    float: left;
    display: inline;
    margin-top: 8px;
}
.skill-line .skill-rates b {
    height: 4px;
    float: left;
    background-color: #888;
}
.skill-rates-1 b{
    width: 20%;
}
.skill-rates-2 b{
    width: 40%;
}
.skill-rates-3 b{
    width: 60%;
}
.skill-rates-4 b{
    width: 80%;
}
.skill-rates-5 b{
    width: 100%;
}

.contact-row {
    width: 100%;
    float: left;
    font-size: 17px;
    margin-bottom: 5px;
}
.contact-row i {
    width: 30px;
}
.contact-row.break {
    margin-bottom: 15px;
}
.address {
    color: #333;
    font-size: 17px;
    margin-bottom: 13px;
}
.about-content {
    color: #555;
}
.social-list {
    width: 100%;
    float: left;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}
.social-list li {
    width: 100%;
    float: left;
    margin-bottom: 3px;
}
.social-list li a{
    float: left;
    color: #555;
    text-decoration: none;
}
.social-list li a:hover {
    color: #f66;
}
.social-list li a i{
    width: 30px;
}

@media screen and (max-width: 1024px) {
    body {
        background-color: #fff;
    }
    main {
        width: 100%;
        float: left;
    }
    .wrapper {
        margin: 0;
        padding: 30px 20px;
    }
    .header {
        padding-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 30px;
    }
    .resume-wrapper .left, .resume-wrapper .right {
        width: 100%;
        float: left;
        text-align: left;
        padding: 0;
    }
    .resume-wrapper .right {
        margin-top: 50px;
    }
    .header{
        text-align: left;
        padding-top: 0;
        margin-bottom: 20px;
        border-bottom: solid 1px #ccc;
    }
    .header>h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .header h3 {
        font-size: 20px;
    }
    .resume-wrapper:before {
        content: none;
    }
    .header .avatar {
        display: none;
    }
    .header .avatar-mobile {
        width: 115px;
        height: 115px;
        display: block;
        margin: 0;
    }
    .header>h1>span {
        font-size: 24px;
        letter-spacing: 1px;
    }
    .header>h1>span {
        border: none;
        padding: 0;
    }
    .header h3 {
        font-size: 15px;
        padding-bottom: 10px;
    }
    section.education {
        margin-top: 50px;
    }
}
@media screen and (max-width: 680px) {
    .wrapper {
        padding: 20px;
    }
}