@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
.border-dot {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 1px 5px;
    background-repeat: repeat-y;
}
main>.left {
    position: absolute;
    width: 475px;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
}
main>.left>.left-inner {
    width: 355px;
    margin: 0 auto;
}
main>.left header {
    height: 60px;
    padding: 13px 0;
}
.logo {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #000;
    text-align: center;
    position: relative;
}
main>.left header .logo {
    width: 34px;
    height: 34px;
    float: left;
}
main>.left header button {
    float: right;
}

.auth-wrap {
    padding-top: 100px;
}
#landingRegisterForm,
#landingLoginBtn{
    display: none;
}
.auth-form-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
}
.outworld-auth {
    margin-top: 20px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
}
.outworld-auth button {
    min-width: 120px;
    float: left;
    margin-right: 9px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    line-height: 23px;
}
.outworld-auth button:hover,
.outworld-auth button:focus{
    color: #fff;
}
.outworld-auth button:nth-child(2) {
    margin-right: 0;
}
.outworld-auth .btn-fb {
    background-color: #5776a8;
}
.outworld-auth .btn-google {
    background-color: #db4437;
}
.outworld-auth .auth-or {
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: -10px;
    background-color: #fff;
    padding: 0 10px;
    color: #777;
}
.first-field-group { 
    margin-top: 20px;
}
.auth-field-group {
    margin-bottom: 20px;
}
.auth-field-group:last-child {
    margin-bottom: 0;
}
.auth-field-group>label {
    height:18px;
}
.auth-field {
    height: 38px;
    line-height: 34px;
    vertical-align: middle;
    padding: 0 15px;
    color: #555;
    border: solid 2px #f4f4f4;
    background-color: #f4f4f4;
}
.auth-field:focus {
    border-color: #007aff;
}
.signup-btn {
    margin-top: 13px;
}
.auth-btn {
    height: 38px;
}
.auth-field.error {
    border-color: #f66;
}

main>.right {
    position: absolute;
    height: 100%;
    left: 475px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
}
main>.right>.right-inner {
    width: 640px;
    margin: 30px auto;
}
.landing-cv .header {
    text-align: center;
}
.landing-cv .avatar-box .avatar {
    position: relative;
    width: 80px;
    height: 80px;
    float: left;
    left: 50%;
    margin-left: -40px
}
.landing-cv h1.name {
    margin: 15px 0 10px;
    text-transform: uppercase;
    font-size: 30px;
    color: #444;
}
.landing-cv h3.job {
    margin: 0;
    text-transform: uppercase;
    font-size: 17px;
    color: #555;
}
.cv-body {
    margin-top: 50px;
}
.content-box .title {
    width: 100%;
    float: left;
    margin: 0;
    border-bottom: solid 1px #666;
    padding: 5px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #555;
}
.content-box .content {
    width: 100%;
    float: left;
    margin-top: 30px;
    font-size: 17px;
    color: #555;
    line-height: 25px;
}
.explode-btn {
    float: left;
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 1px #555;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
}
.explode-btn:hover {
    text-decoration: none;
    color: #000;
    border-color: #000;
}

main>.left footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
}
.footer-nav {
    width: 355px;
    margin: auto;
}
.footer-nav>li {
    float: left;
    display: inline;
    margin-right: 15px;
    padding: 10px 0;
}
.footer-nav>li:last-child {
    margin-right: 0;
}
.footer-nav>li>a {
    float: left;
    display: inline;
    color: #aaa;
    text-decoration: none;
}
.footer-nav>li>a:hover {
    color: #555;
}

@media screen and (max-width: 1024px) {
    main>.left {
        width: 380px;
    }
    main>.left>.left-inner {
        width: 310px;
        margin: 0 auto;
    }
    .outworld-auth button {
        text-transform: capitalize
    }
    main>.right {
        left: 380px;
        padding: 30px;
    }
    main>.right>.right-inner {
        width: 100%;
        float: left;
        margin: 0;
    }
    .footer-nav {
        width: 310px;
    }
}
@media screen and (max-width: 768px) {
    main>.left {
        width: 50%;
    }
    main>.right {
        width: 50%;
        left: 50%;
    }
    main>.right>.right-inner {
        width: 100%;
        float: left;
        margin: 0;
    }
}
@media screen and (max-width: 680px) {
    main>.left {
        width: 100%;
        float: left;
    }
    .auth-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    main>.right {
        display: none;
    }
    main>.left>.left-inner {
        width: 90%;
    }
    .border-dot {
        background-image: none;
    }
    main>.left footer {
        display: none;
    }
}
@media screen and (max-width: 480px) { 
    main>.left>.left-inner {
        width: 310px;
    }
    .footer-nav {
        width: 310px;
    }
}
@media screen and (max-width: 320px) {
    
}
