@font-face{
    font-family: 'BebasNeue';
    src: url('../fonts/bebas-neue/BebasNeueBold.eot') format('embedded-opentype'),
         url('../fonts/bebas-neue/BebasNeueBold.woff2') format('woff2'),
         url('../fonts/bebas-neue/BebasNeueBold.woff') format('woff'),
         url('../fonts/bebas-neue/BebasNeueBold.ttf') format('truetype'),
         url('../fonts/bebas-neue/BebasNeueBold.svg') format('svg');
    font-weight: normal;
    font-style: normal
}
.banner-wrap {
    background-color: #eff5f7;
}
.banner-inside {
    max-width: 1220px;
    margin: auto;
}
.banner {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
}
.banner h1 {
    font-family: 'BebasNeue';
    font-weight: 500;
    font-size: 8em;
    color: #fff;
    text-align: center;
    margin: 185px 0 0;
}

.themes-wrapper {
    background-color: #eff5f7;
}
.themes-inside {
    padding: 30px 30px 40px 30px;
}
@media screen and (max-width: 480px) {
    .header-inside {
        padding-left: 15px;
        padding-right: 15px;
    }
}