.main-header {
    height: 56px;
    background-color: #fff;
    border-bottom: solid 2px #007bff;
}
.navbar-main {
    padding: .300rem 1rem;
}
.logo {
    border-radius: 50%;
    background-color: #000;
}
.logo-header {
    width: 34px;
    height: 34px;
    float: left;
}
.navbar-main .navbar-nav>li>a {
    box-shadow: none;
}
.navbar-auth {
    flex-direction: row;
}
.navbar-auth .avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.authed-dropdown a.dropdown-toggle::after {
    display: none;
}

/* Footer */
.main-footer {
    border-top: solid 2px #007bff;
    background-color: #fff;
}
.footer-logo-wrap {
    width: 40px;
    margin: auto;
}
.footer-logo-wrap a {
    float: left;
    margin: 10px 0;
}
.logo-footer {
    width: 40px;
    height: 40px;
    float: left;
}
.footer-navs ul>li>a {
    color: #777;
}
.footer-navs {
    margin-bottom: 5px;
}
.footer-navs ul>li>a:hover {
    color: #007bff;
    border-bottom: solid 1px #007bff;
}

.alert-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    color: #fdfdfd;
    border-radius: 0;
    margin-bottom: 0;
    display: none;
    z-index: 9999;
}
.alert-bar.alert-success {
    background-color: #56bc8a;
    border-color: #56bc8a;
}
.alert-bar.alert-danger {
    background-color: #d95e40;
    border-color: #d95e40;
}

.alert-bar button.close {
    color: #fdfdfd;
    top: 0;
    opacity: .6;
}
.alert-bar button.close:hover {
    color: #fdfdfd;
    opacity: .9;
}