body{background-color:#f5f8fa;}
.wrapper{margin:20px 0;}

/* Settings Page */

/* Vartical navigation */
.setting-vertical-nav>li {
    width:100%;
    float:left;
    border-bottom:solid 1px #e5e5e5;
}
.setting-vertical-nav>li.nav-link-last {
    border:none;
}
.setting-vertical-nav>li>a {
    width:100%;
    float:left;
    padding:9px 5px;
    color:#888;
    font-size:15px;
    text-decoration:none;
}
.setting-vertical-nav>li>a:hover {
    color:#007aff;
}
.setting-vertical-nav>li>a:hover>span {
    color:#007aff !important;
}
.setting-vertical-nav>li>a>span {
    width:100%;
    float:left;
}
.setting-vertical-nav>li>a>span.nav-link-help{
    font-size:13px;
    color:#aaa;
    margin-top:2px;
}

/* Settings */
.col-no-padding {
    padding-left: 0;
    padding-right: 0;
}
.settings {
    margin-top: 20px;
    margin-bottom: 20px;
}
.settings .profile {
    background-color: #fff;
}
.profile>section:first-child {
    padding: 0;
}
.profile>section {
    width: 100%;
    float: left;
    padding: 0 20px;
}
.profile .cover {
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    position: relative;
}
.profile .appearance {
    background-color: #fff;
    padding: 0 20px 15px 20px;
    border-bottom: solid 1px #eee;
}
.profile .avatar {
    width: 120px;
    height: 120px;
    margin-top: -85px;
    position: relative;
}
.profile .edit-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 0;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
.profile .avatar .edit-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.profile .avatar .edit-btn>img {
    margin: auto;
}
.profile .avatar:hover>.edit-btn {
    visibility: visible;
    opacity: 1;
}
.profile .cover .edit-btn {
    float: right;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.profile .cover:hover>.edit-btn {
    visibility: visible;
    opacity: 1;
}
.profile .show-edit-btn {
    visibility: visible !important;
    opacity: 1 !important;
}
.profile .avatar .avatar-img {
    border: solid 4px #fff;
    margin: auto;
    z-index: 10;
}
.settings-form {
    width: 85%;
    display: none;
}
.settings-row {
    padding: 20px 0;
    border-bottom: solid 1px #eee;
}
.settings-row-title {
    width: 100%;
    float: left;
    font-size: 13px;
    color: #555;
    padding-bottom: 5px;
}
.settings-help-text {
    width: 100%;
    float: left;
    font-size: 13px;
    color: #aaa;
}
.settings-expand-btn {
    float: right;
    border: 0;
    font-size: 18px;
    line-height: 18px;
    color: #aaa;
}
.settings-group-wrapper {
    width: 85%;
    display: none;
}
.settings-form button {
    min-width: 70px;
}
.settings-field-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.settings-field {
    width: 100%;
    float: left;
    height: 34px;
    line-height: 34px;
    border: solid 1px #d5d5d5;
    outline: none;
    padding: 0 10px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.settings-field:focus {
    border-color: #007aff;
}
.setting-messages {
    width: 100%;
    min-height: 55px;
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    opacity: 0.9;
}
.setting-messages.error{
    background-color: #f66;
}
.setting-messages.success{
    background-color: #20863A;
}
.message {
    height: 100%;
    line-height: 55px;
    color: #fdfdfd;
}
.setting-messages .close {
    position: relative;
}
.settings-field-wrapper .settings-field.error {
    border-color: #de5d3d;
}
.selecter {
    display: inline-block;
    position: relative;
    padding-right: 10px;
}
.selecter select{
    border: 0;
    background: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.selecter label {
    float: left;
    font-size: 13px;
    color: #777;
}
.selecter i.fa-angle-down {
    float: left;
    font-size: 17px;
    font-weight: bold;
    color: #777;
    margin-left: 5px;
    line-height: 18px;
}

/* Bootstrap switcher */
.bootstrap-switch {
    outline: none;
    border: none;
    border-radius: 7px;
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    font-size: 13px;
    padding: 0 4px;
    height: 14px;
    border-radius: 7px;
}
.bootstrap-switch-off {
    background-color: #9da6af;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background-color: #fff;
    border: solid 2px #9da6af;
}
.bootstrap-switch-off .bootstrap-switch-label {
    background-color: #9da6af;
}
.bootstrap-switch-on {
    background-color: #337ab7;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background-color: #fff;
    border: solid 2px #337ab7;
}
.bootstrap-switch-on .bootstrap-switch-label {
    background-color: #337ab7;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    width: 14px !important;
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    width: 10px !important;
}
.inline-notification {
    height: 23px;
    line-height: 23px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    padding: 0 10px;
    border-radius: 2px;
    position: absolute;
    right: 0;
    visibility: hidden;
    opacity: 0;
}
.inline-notification.success {
    background-color: #56bc8a; 
}
.inline-notification.error {
    background-color: #f66; 
}
.inline-notification.show-animation {
    transition: opacity .2s linear;
    opacity: 1;
    visibility: visible;
}
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
@media (max-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .profile .cover {
        border-radius:0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .settings {
        margin-top: 0;
        margin-bottom: 0;
    }
    .container {
        width: 100%;
    }
    .row {
        margin-right: 0;
    }
    .row>.col-md-9, .row>.col-xs-12 {
        padding-right: 0;
    }
    
    .settings-form {
        width: 100%;
        display: none;
    }
}